.view-requests-wrapper {
  .btn-demo-req {
    width: 96px !important;
  }

  .demo-request-details {
    h1 {
      border-bottom: 1px solid #ececec;
      padding-bottom: 5px;
    }
    p {
      margin-bottom: 0 !important;
    }
  }
}
