// primary button

.primary-button {
  width: 134px !important;
  height: 36px !important;
  background: #1768ac 0% 0% no-repeat padding-box !important;
  border-radius: 4px !important;
  color: #ffffff !important;
  font-size: 12px !important;
  font-weight: 700 !important;
  box-shadow: none !important;
  border: 0 !important;
}
