@import "./variables";

// =========================================================
//                          Defaults
// =========================================================
* {
  scrollbar-color: #dbdbdb transparent;
  scrollbar-width: thin;
}

.custom-scroll::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb,
html::-webkit-scrollbar-thumb {
  background-color: #dbdbdb;
}

body,
html {
  font-family: "Plus Jakarta Display", sans-serif !important;
}
body {
  background-color: #f8f8f8 !important;
}

.text-nowrap {
  white-space: nowrap !important;
}
.align-middle {
  vertical-align: middle !important;
}
.cursor-pointer {
  cursor: pointer !important;
}

.cursor-pointer {
  cursor: pointer !important;
}
.flex-1 {
  flex: 1 !important;
}
.flex-1-5 {
  flex: 1.5 !important;
}

// =========================================================
//                          Over flow
// =========================================================

// =========================================================
//                          Font sizes
// =========================================================

.f-12 {
  font-size: 12px !important;
}
.f-14 {
  font-size: 14px !important;
}
.f-16 {
  font-size: 16px !important;
}

// =========================================================
//                          Font Weight
// =========================================================

// light
.fw-300 {
  font-weight: 300 !important;
}

// regular
.fw-400 {
  font-weight: 400 !important;
}

// medium
.fw-500 {
  font-weight: 500 !important;
}
// semi-bold
.fw-600 {
  font-weight: 600 !important;
}

// bold
.fw-700 {
  font-weight: 700 !important;
}
// extra-bold
.fw-800 {
  font-weight: 800 !important;
}

// =========================================================
//                          Margins/Paddings
// =========================================================

.mr-7 {
  margin-right: 7px !important;
}
.ml-8 {
  margin-left: 8px !important;
}
.mr-10 {
  margin-right: 10px !important;
}
.ml-10 {
  margin-left: 10px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-11 {
  margin-bottom: 11px !important;
}
.mb-16 {
  margin-bottom: 16px !important;
}
.mr-16 {
  margin-right: 16px !important;
}
.mt-24 {
  margin-top: 24px !important;
}
.mr-24 {
  margin-right: 24px !important;
}
.mb-24 {
  margin-bottom: 24px !important;
}
.ml-37 {
  margin-left: 37px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-44 {
  margin-bottom: 44px !important;
}
.mr-95 {
  margin-right: 95px !important;
}

// =========================================================
//                          width/height
// =========================================================

// =========================================================
//                          Color
// =========================================================

.color-danger {
  color: #ff0000 !important;
}
.color-success {
  color: #089752 !important;
}
.color-warning {
  color: #ef932a !important;
}
.color-info {
  color: #3e98ff !important;
}
.color-gray {
  color: #a1a1a1 !important;
}
.color-silver-chalice {
  color: #9f9f9f !important;
}
.color-primary {
  color: #1768ac !important;
}
.color-secondary {
  color: #343379 !important;
}
.color-Active {
  color: #40af3c !important;
}
.color-inActive {
  color: red !important;
}
// =========================================================
//                          Line height
// =========================================================

.gap-12 {
  gap: 20px !important;
}

.translateY-50-p {
  transform: translateY(50%);
}

.text-overflow {
  text-overflow: ellipsis;
}

.test-bar {
  animation: bar-animation 2s ease-in;
  animation-delay: 1s;
  position: relative;
  left: 0;
  bottom: 0;
}

@keyframes bar-animation {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

.horizontal-divider {
  width: 100%;
  border: 1px solid #e6e6e6;
}
